#signup-form-container
  form#signup-form(action='index.html')
    h2 Get Started Today!
    p
      | Signup today lorem ipsum dolor nibh euismod tincidunt sed diam adipiscing elit, nonummy laoreet dolore magna volutpat.
    fieldset
      ul.group
        li
          label(for='name') Your name:
          input#name(type='text', placeholder='Enter your name')
        li
          label(for='email') E-mail address:
          input#email(type='text', placeholder='Enter your e-mail address')
        li
          label(for='ph') Phone:
          input#ph(type='text', placeholder='Add your phone number')
        li
          label(for='website') Website address:
          input#website(type='text', placeholder='Enter your website')
        li
          label(for='message') Any questions?
          textarea#message(name='message', cols='30', rows='5')
      input(type='submit', value='Register')
  a#close(href='#', title='Close Panel') Close Panel
//
   END signup-form-container 
#header
  a#logo(href='index.html', title='Invokr - Premium Landing Page') Invokr
  span#slogan Premium landing page
  span#phone Call 1300 256 922
//
   END header
#main
  .row.group
    #primary-section
      h1 Premium Landing Page Theme For Any Site
      p
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        strong eirmod temporska et
        | dolore eos aliquyam erat.
      p
        | Invidunt ut labore et dolore eos aliquyam erat, sed diam voluptua sed diam et dolores.
      a#signup(href='#', title='Sign Up Now!') Sign Up Now!
      a#tour(href='#', title='or take the tour') or take the tour
    //
       END primary-section 
    #slider-container
      #slider.nivoSlider
        img(src='../assets/img/placeholders/1.jpg', width='388', height='314', alt='')
        img(src='../assets/img/placeholders/2.jpg', width='388', height='314', alt='')
        img(src='../assets/img/placeholders/3.jpg', width='388', height='314', alt='')
        img(src='../assets/img/placeholders/4.jpg', width='388', height='314', alt='')
      //
         END slider 
    //
       END slider-container 
    .clear
  //
     END row 
  .row.group
    #screenshots
      h2 Preview of Screenshots
      ul
        li
          a.single_image(href='../assets/img/preview/1.jpg')
            span.overlay
              span.icon
            img(src='../assets/img/preview/thumbs/1.jpg', alt='')
        li
          a.single_image(href='../assets/img/preview/2.jpg')
            span.overlay
              span.icon
            img(src='../assets/img/preview/thumbs/2.jpg', alt='')
        li
          a.single_image(href='../assets/img/preview/3.jpg')
            span.overlay
              span.icon
            img(src='../assets/img/preview/thumbs/3.jpg', alt='')
        li
          a.single_image(href='../assets/img/preview/4.jpg')
            span.overlay
              span.icon
            img(src='../assets/img/preview/thumbs/4.jpg', alt='')
    //
      END screenshots
    #feature-list
      h2 Product Feature List
      p
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor.
      ul
        li Description of item one will go here.
        li Another description can go here.
        li Make sure to make every list item unique.
        li Also every list item should be specific.
        li Talk about how great the specs are of item.
        li Ideally keeping each bullet point concise.
      p
        | Scing elitr, sed diam nonumy eirmod tempor. Invidunt ut labore et dolore eos aliquyam erat, sed diam voluptua sed diam et dolores.
    //
      END feature-list
  //
     END row 
  .row.group
    h2 What Customers Say About Us
    #testimonials
      blockquote
        .testimonial-avatar
          img(src='../assets/img/avatars/1.jpg', alt='')
        //
           END testimonial-avatar 
        cite Frank Taylor says:
        p
          | "The Invokr landing page theme is extremely well presented and very relevant to our business needs.
          | My results have been through the roof with this page, very greatful and highly recommended"
      blockquote
        .testimonial-avatar
          img(src='../assets/img/avatars/2.jpg', alt='')
        //
           END testimonial-avatar 
        cite Peyton Davis says:
        p
          | "Love this premium theme. Beautifully designed to pixel perfection with some fantastic innovative features.
          | Highly recommended to anyone who is seeking a high converting landing page for their upcoming campaigns."
      blockquote
        .testimonial-avatar
          img(src='../assets/img/avatars/3.jpg', alt='')
        //
           END testimonial-avatar 
        cite Corey Taylor says:
        p
          | "Excellent premium landing page. Definitely one of the most practical and easily customizable templates I've come across. Great work and keep them coming!"
    //
      END testimonials
    a.btn-cta(href='http://themeforest.net/item/invokr-premium-landing-page/1541570', target='_blank')
      | Get the latest version of Invokr Landing Page template and convert your visitors today!
    .container
      #first.column
        h2 Where We Are
        a(href='#', title='Click Here to View Larger Map')
          img#map.alignleft(src='../assets/img/map.jpg', alt='View Larger Map')
        p#address
          strong Invokr Inc.
          br
          span 15 Bourke Street
          br
          span Melbourne VIC 3000
          br
          a(href='#') companydomain.com
      #second.column
        h2 Follow Us
        p You can follow our latest news on the following networks.
        ul#social
          li
            a#fb(href='#') Facebook
          li
            a#twitter(href='#') Twitter
          li
            a#tumblr(href='#') Tumblr
          li
            a#rss(href='#') RSS
          li
            a#flickr(href='#') Flickr
      #third.column
        h2 Subscribe Today
        p
          | Receive weekly updates on our products and services by entering your email below.
        form#newsletter-form(action='index.html')
          fieldset
            input#subscribe(type='text', placeholder='Enter your e-mail to subscribe')
            input(type='submit', value='Go')
    //
       END container 
  //
     END row 
//
   END main
#footer
  #footer-wrap
    a#top-arrow(href='#header', title='Go to Top') Top
    h2 Our Sponsors
    p
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
    ul#sponsors
      li
        a(href='#')
          img(src='../assets/img/skin_blue/sponsors/1.png', alt='')
      li
        a(href='#')
          img(src='../assets/img/skin_blue/sponsors/2.png', alt='')
      li
        a(href='#')
          img(src='../assets/img/skin_blue/sponsors/3.png', alt='')
      li
        a(href='#')
          img(src='../assets/img/skin_blue/sponsors/4.png', alt='')
    //
       END sponsors
    #copyright
      p
        | Copyright © 2012 Invokr Premium Landing page Template   All Rights Reserved /
        a(href='#') Terms
        | /
        a(href='#') Privacy Policy
      img(src='../assets/img/logo-footer.png', alt='Invokr - Premium Landing Page Template')
    //
       END copyright
  //
     END footer-wrap 
//
   END footer
