!!! 5
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Invokr - Premium Landing Page Template
    //
       Styles 
    link(rel='stylesheet', href='../assets/css/style.css', media='screen')
    link(rel='stylesheet', href='../assets/css/style_blue.css', media='screen')
    link(rel='stylesheet', href='../assets/css/nivo-slider.css', media='screen')
    link(rel='stylesheet', href='../assets/css/jquery.fancybox-1.3.4.css', media='screen')
    link(href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Oswald', rel='stylesheet')
    link(rel='shortcut icon', type='image/x-icon', href='../assets/img/skin_blue/favicon.ico')
    //
       Scripts 
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    //if lt IE 10
      link(rel='stylesheet', href='../assets/css/ie.css', media='screen')
      script(src='../assets/js/selectivizr-min.js')
    script(src='../assets/js/jquery.nivo.slider.pack.js')
    script(src='../assets/js/jquery.fancybox-1.3.4.pack.js')
    script(src='../assets/js/jquery.cycle.all.js')
    script(src='../assets/js/custom.js')
  body!= body
